<!DOCTYPE html>
<html>
<head>
    <title>CSV Data</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        body.light-mode {
            background-color: #fff;
            color: #333;
        }
        body.dark-mode {
            background-color: #333;
            color: #fff;
        }
        h1 {
            padding: 20px;
            background-color: #000; 
            color: #fff;
            margin: 20px 0;
        }
        body.dark-mode h1 {
            background-color: #fff;
            color: #333;
        }
    </style>
</head>
<body class="light-mode">
    <div class="container">
        <h1>Google Analytics Data</h1>
        <div class="table-responsive">
            {% for table in ga_tables %}
                {{ table|safe }}
            {% endfor %}
        </div>

        <h1>Google Search Console Data</h1>
        <div class="table-responsive">
            {% for table in gsc_tables %}
                {{ table|safe }}
            {% endfor %}
        </div>

        <h1>LinkedIn Data</h1>
        <div class="table-responsive">
            {% for table in linkedin_tables %}
                {{ table|safe }}
            {% endfor %}
        </div>

        <h1>Twitter Data</h1>  <!-- Twitter data section starts here -->
        <div class="table-responsive">
            {% for table in twitter_tables %}
                {{ table|safe }}
            {% endfor %}
        </div>  <!-- Twitter data section ends here -->
    </div>
</body>
</html>